:root {
    --first-color: #EAF7FF;
    --second-color: #0096C7;
    --accent1-color: #023E8A;
    --accent2-color: #FFB703;
    --heading-font: "Times New Roman", "georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    flex-direction: row;
    gap: 60px;

    background-color: var(--first-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.history-grid {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    justify-content: space-evenly;
}

.over-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-grid h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-photos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.side-photos img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    flex-direction: row;

    background-color: var(--first-color);
}

footer nav {
    display: flex;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--first-color)
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--first-color);
}

h2 {
    background-color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 5em;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 480px;
    background-color: var(--second-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 30px;
}